name: build s805 image

on:
  push:
    branches: [ "master" ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-20.04

    steps:
      - name: Maximize build space
        uses: easimon/maximize-build-space@master
        with:
          # 这个值是保留给系统的空间大小，之前设置太小，总会在安装依赖或者编译过程中报设备空间不足的错误而导致编译失败
          root-reserve-mb: 8096
          swap-size-mb: 2266
          remove-dotnet: 'true'
          remove-android: 'true'

      - name: Checkout armbian/build
        run: |
          git clone --depth=1 --branch=master https://github.com/hy5528/s805-armbian-build
      - name: Build for s805 
        run: |
          cd s805-armbian-build
          sudo ./compile.sh  BOARD=aml-s805 BRANCH=current RELEASE=jammy BUILD_MINIMAL=yes BUILD_DESKTOP=no KERNEL_ONLY=no  KERNEL_CONFIGURE=no 
      - name: Build burn for s805 
        run: |
          cd s805-armbian-build
          sudo ./userpatches/burnimg-pack.sh s805-armbian-build/images/Armbian_22.11_Aml-s812_jammy_current_5.9.0-rc7_minimal.img
      - uses: actions/upload-artifact@v4
        with:
          name: built-images
          path: s805-armbian-build/output/images/
