name: build aml-s805 image

on:
  push:
    branches: [ "master" ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-20.04

    steps:
      - name: Maximize build space
        uses: easimon/maximize-build-space@master
        with:
          # 这个值是保留给系统的空间大小，之前设置太小，总会在安装依赖或者编译过程中报设备空间不足的错误而导致编译失败
          root-reserve-mb: 8096
          swap-size-mb: 2266
          remove-dotnet: 'true'
          remove-android: 'true'
      - name: Checkout armbian/build
        run: |
          git clone --depth=1 --branch=master https://github.com/hy5528/s805-armbian-build
      - name: Build for aml-s805
        run: |
          cd s805-armbian-build
          sudo ./compile.sh BOARD=aml-s805 BRANCH=current RELEASE=jammy BUILD_MINIMAL=yes BUILD_DESKTOP=no KERNEL_ONLY=no KERNEL_CONFIGURE=no COMPRESS_OUTPUTIMAGE=sha,gpg,img DOWNLOAD_MIRROR=china MAINLINE_MIRROR=tuna EXTRAWIFI=no
      - name: Build burn for aml-s805
        run: |
          cd s805-armbian-build
          sudo apt-get install -y img2simg
          sudo chmod -R 777 output
          sudo mkdir output/amlimg
          mkdir /tmp/amlimg
          sudo curl -L -o output/amlimg/AmlImg https://github.com/hzyitc/AmlImg/releases/download/v0.3.1/AmlImg_v0.3.1_linux_amd64
          sudo chmod +x output/amlimg/AmlImg
          sudo curl -L -o output/amlimg/eMMC.burn.img https://github.com/hzyitc/u-boot-onecloud/releases/download/build-20221028-0940/eMMC.burn.img
          #解包转换为线刷包所需格式
          diskimg=$(ls output/images/*.img)
          loop=$(sudo losetup --find --show --partscan $diskimg)
          sudo ./output/amlimg/AmlImg unpack output/amlimg/eMMC.burn.img output/amlimg
          sudo losetup  --show --partscan $loop $diskimg
          sudo img2simg ${loop}p1 output/amlimg/boot.simg
          sudo img2simg ${loop}p2 output/amlimg/rootfs.simg
          sudo losetup -d $loop

          #写入刷机文件，去除分区校验
          cat <<EOF >output/amlimg/commands.txt
          USB:DDR:normal:0.DDR.USB
          USB:UBOOT_COMP:normal:1.UBOOT_COMP.USB
          ini:aml_sdc_burn:normal:2.aml_sdc_burn.ini
          conf:platform:normal:3.platform.conf
          PARTITION:bootloader:normal:4.bootloader.PARTITION
          PARTITION:resource:normal:6.resource.PARTITION
          PARTITION:boot:sparse:boot.simg
          PARTITION:rootfs:sparse:rootfs.simg
          EOF
          sudo rm ./output/amlimg/5.bootloader.VERIFY ./output/amlimg/7.resource.VERIFY
         
          #打包为线刷镜像
          burnimg=$diskimg.burn.img
          sudo ./output/amlimg/AmlImg pack $burnimg output/amlimg/
          echo "complete! File:$burnimg"
 
      - uses: actions/upload-artifact@v4
        with:
          name: built-images
          path: s805-armbian-build/output/images/
          

          
      
