name: build s805 image

on:
  push:
    branches: [ "master" ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-20.04

    steps:
      
      - name: Maximize build space
        uses: easimon/maximize-build-space@master
        with:
          # 这个值是保留给系统的空间大小，之前设置太小，总会在安装依赖或者编译过程中报设备空间不足的错误而导致编译失败
          root-reserve-mb: 8096
          swap-size-mb: 2266
          remove-dotnet: 'true'
          remove-android: 'true'
      - name: install dep
        run: |
          sudo apt-get update
          sudo apt-get install -y curl jq gpg python3-pyquery wget xz-utils make gcc-arm-linux-gnueabihf flex bison dpkg-dev bc rsync kmod cpio libssl-dev git lsb vim libelf-dev neofetch python3-pip python3-tk debhelper zstd dpkg-sig mmdebstrap qemu-user-static usrmerge binfmt-support systemd-container
          sudo apt-key adv --keyserver keyserver.ubuntu.com --recv-keys EE727D4449467F0E
          
      - name: Checkout armbian/build
        run: |
          git clone --depth=1 --branch=master https://github.com/hy5528/s805-armbian-build
      - name: Build for aml-s805
        run: |
          cd s805-armbian-build
          sudo ./compile.sh  BOARD=aml-s805 BRANCH=current RELEASE=jammy BUILD_MINIMAL=yes BUILD_DESKTOP=no KERNEL_ONLY=no KERNEL_CONFIGURE=no COMPRESS_OUTPUTIMAGE=sha,gpg,img DOWNLOAD_MIRROR=china MAINLINE_MIRROR=tuna EXTRAWIFI=no
          sudo chown $(id -u):$(id -g) -R output/

      - name: Install Dependents
        run: |
          cd s805-armbian-build
          sudo apt install img2simg

          sudo mkdir output/amlimg

          mkdir /tmp/amlimg
      - name: Download AmlImg
        run: | 
          cd s805-armbian-build
          sudo curl -L -o output/amlimg/AmlImg https://github.com/hzyitc/AmlImg/releases/download/v0.3.1/AmlImg_v0.3.1_linux_amd64
          sudo chmod +x output/amlimg/AmlImg
      - name: Download and unpack the latest u-boot
        run: |
          cd s805-armbian-build
          sudo curl -L -o output/amlimg/eMMC.burn.img https://github.com/hzyitc/u-boot-onecloud/releases/download/build-20221028-0940/eMMC.burn.img

      - name: Extract boot and rootfs partitions
        run: |
          cd s805-armbian-build
          diskimg=$(ls output/images/*.img) 
          loop=$(losetup -f)
          sudo ./output/amlimg/AmlImg unpack output/amlimg/eMMC.burn.img output/amlimg
          sudo losetup  --show --partscan $loop $diskimg
          sudo img2simg ${loop}p1 output/amlimg/boot.simg
          sudo img2simg ${loop}p2 output/amlimg/rootfs.simg
          sudo losetup -d $loop
          sudo chown $(id -u):$(id -g) -R output/amlimg/
    

      - name: Generate burn image
        run: |
          cd s805-armbian-build
          echo -n "sha1sum $(sha1sum output/amlimg/boot.simg | awk '{print $1}')" >output/amlimg/boot.VERIFY
          echo -n "sha1sum $(sha1sum output/amlimg/rootfs.simg | awk '{print $1}')" >output/amlimg/rootfs.VERIFY

          cat <<EOF >>output/images/commands.txt
          PARTITION:boot:sparse:boot.simg
          VERIFY:boot:normal:boot.VERIFY
          PARTITION:rootfs:sparse:rootfs.simg
          VERIFY:rootfs:normal:rootfs.VERIFY
          EOF

          prefix=$(ls output/images/*.img | sed 's/\.img$//')
          burnimg=${prefix}.burn.img
          ./output/amlimg/AmlImg pack $burnimg output/amlimg/

      - name: Hash and compress images
        run: |
          cd s805-armbian-build
          for f in output/images/*.img; do
            sha256sum "$f" | tee -a sha256sum
            xz --threads=0 --compress "$f"
          done

      - name: Upload artifacts
        uses: actions/upload-artifact@v3
        with:
          name: built-images
          path: s805-armbian-build/output/images/
      - name: Create Release
        id: create_release
        uses: actions/create-release@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          tag_name: ${{ github.ref }}
          release_name: ${{ github.ref }}
          draft: false
          prerelease: false  


      - name: Upload to release
        uses: softprops/action-gh-release@v1
        with:
          tag_name: ${{ env.TAG }}
          append_body: true
          body_path: Release.md
          files: |
            s805-armbian-build/output/images/
    

