
name: build mele-a200 image

on:
  push:
    branches: [ "master" ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    container: ghcr.io/armbian/docker-armbian-build:armbian-ubuntu-jammy-latest
    steps:
      - name: Maximize build space
        uses: easimon/maximize-build-space@master
        with:
          # 这个值是保留给系统的空间大小，之前设置太小，总会在安装依赖或者编译过程中报设备空间不足的错误而导致编译失败
          root-reserve-mb: 4096
          swap-size-mb: 512
          remove-dotnet: 'true'
          remove-android: 'true'

      - name: Checkout armbian/build
        run: |
          git clone --depth=1 --branch=master https://github.com/witallwang/Build-Armbian
      - name: Build for mele-a200
        run: |
          cd Build-Armbian
          sudo ./compile.sh BOARD="aml-s812" BRANCH="current" RELEASE="bullseye" KERNEL_ONLY="no" KERNEL_CONFIGURE="no" BUILD_DESKTOP="no" BUILD_MINIMAL="yes"

      - uses: actions/upload-artifact@v4
        with:
          name: built-images
          path: build/output/images

